<h1>Listing aliases</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Domain</th>
    <th>Alias username</th>
    <th>Alias domain</th>
  </tr>

<% for alias in @aliases %>
  <tr>
    <td><%=h alias.username %></td>
    <td><%=h alias.domain %></td>
    <td><%=h alias.alias_username %></td>
    <td><%=h alias.alias_domain %></td>
    <td><%= link_to 'Show', alias %></td>
    <td><%= link_to 'Edit', edit_alias_path(alias) %></td>
    <td><%= link_to 'Destroy', alias, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New alias', new_alias_path %>
