<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Kadumo</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <% javascript_tag do -%>
	function loading(div_id, title) {
		$(div_id).innerHTML = '<img src="/images/active_scaffold/default/indicator.gif">';		
	}
  <% end -%>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<div style="text-align: center;">
	<table style="margin-left: auto; margin-right: auto;">
		<td><b> | <%= link_to_remote "Subscribers", :url => subscribers_url, 
					:update => "page_content", :loading => "loading('page_content','Subscribers')", 
					:method => :get %> | </b></td>
		<td><b> | <%= link_to_remote "DB Aliases", :url => db_aliases_url, 
					:update => "page_content", :loading => "loading('page_content','DB Aliases')", 
					:method => :get %> | </b></td>
		<td><b> | <%= link_to_remote "Domains", :url => domains_url, 
					:update => "page_content", :loading => "loading('page_content','Domains')", 
					:method => :get %> | </b></td>
		<td><b> | <%= link_to_remote "LCR Gateways", :url => gateways_url, 
					:update => "page_content", :loading => "loading('page_content','LCR Gateways')", 
					:method => :get %> | </b></td>	
		<td><b> | <%= link_to_remote "LCR Routes", :url => routes_url, 
					:update => "page_content", :loading => "loading('page_content','LCR Routes')", 
					:method => :get %> | </b></td>				
		<td><b> | <%= link_to_remote "Trusted Requests", :url => trusteds_url, 
					:update => "page_content", :loading => "loading('page_content','Trusted Requests')", 
					:method => :get %> | </b></td>				
	</table>
</div>

<div id="page_content">
	<%= yield  %>
</div>

</body>
</html>